@{
  Layout = "_Layout";
}

@model Factory.Models.License

<h4>Add a new License</h4>
<p>@Html.ValidationMessageFor(model => model.LicenseDetail, "", new { @class = "text-danger", @style = "font-weight: 600;" })</p>

@using (Html.BeginForm())
{
    @Html.LabelFor(model => model.LicenseDetail)
    @Html.TextBoxFor(model => model.LicenseDetail)

    <input type="submit" value="Submit" class=""/>
}
<p>@Html.ActionLink("Show all Licenses", "Index")</p>