@{
  Layout = "_Layout";
}


<div class="jumbotron text-center">
  <h1 class="display-2">Welcome Manager</h1>
  <p class="lead"></p>
  <hr class="my-4">
</div>


<p>@Html.ActionLink("See all Engineers", "Index", "Engineers")</p> 
<p>@Html.ActionLink("See all Machines", "Index", "Machines")</p>
<p>@Html.ActionLink("See all Liscenses", "Index", "Licenses")</p>
