@{
  Layout = "_Layout";
}


<div class="jumbotron text-center">
  <h1 class="display-2">Welcome Manager</h1>
  <p class="lead">Please Click below to explore the options</p>
  <hr class="my-4">
</div>